@import "generales";
@import "contact";
@import "experiences";
@import "services";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200&family=Oxygen:wght@300&family=Poppins:wght@100&display=swap');

.coontenido_index{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header"
                         "main"
                         "footer";

    .header{
        grid-area: header;
    }
    .main{
        grid-area: main;
    }
    .footer1{
        grid-area: footer;
    }
}

.historia_trajes{
    margin-bottom: 2rem;
    background-image: url(../img/bg-indx-1.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    h1{
        color: black;
        font-family: 'Oxygen', sans-serif;
        font-weight: bolder;
    }
    p{
        color: black;
        font-family: 'Oxygen', sans-serif;
        font-size: 2.4rem;
    }

}
.tipos_de_trajes{
    h2{
        color: black;
        font-family: 'Oxygen', sans-serif;
        font-weight: bolder;
    }
    p{
        color: black;
        font-family: 'Oxygen', sans-serif;
        font-size: 2.4rem;  
    }
}

.carousel-caption{
    h5{
        color: black;
        font-size: 2.1rem;
        font-weight: bold;
        font-family: 'Oxygen', sans-serif;
    }
    p{
        color: black;
        font-size: 2.1rem;
        font-weight: bolder;
        font-family: 'Oxygen', sans-serif;
    }
}
.trajes{
    margin: 2rem;
    h3{
        color: black;
        font-family: 'Oxygen', sans-serif;
        font-weight: bold;
        align-items: center;
    }
    p{
        font-size: 1.8rem;
    }
}


@media screen and (max-width: 768px){
    nav ul li{
        list-style-type: none;
        display: inline-flex;
        font-family: 'Oxygen', sans-serif;
        font-size: 2rem;
        font-weight: bold;
    }
    
    .menu{
        text-decoration: black;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    
    
    
    footer{
        width: 100%;
        background-color: #198754;
        padding: 0.5rem 0;
        flex-wrap: nowrap;
    }
    
    
    .footer{
        display:grid;
        align-items: flex-start;
        align-content: flex-start;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "instagram facebook twitter ";
        flex-wrap: nowrap;
        list-style-type: none;
        justify-items:center ;
    }  
    
    .instagram{
        width: 2.5rem;
        grid-area: instagram;
        margin: 1rem;
    }
    
    .facebook{
        width: 2.5rem;
        grid-area: facebook;
        margin: 1rem;
    }
    
    .twitter{
        width: 2.5rem;
        grid-area: twitter;
        margin: 1rem;
    }
    
    .copy{
        display: grid;
        align-content: center;
        align-items: center;
        font-family: 'Oxygen', sans-serif;
        font-size: 2.5rem;
        justify-content: center;
        padding: 1rem;
    }
    

}


@media screen and (max-width: 500px){


    #header{
        width: 100%;
        height: 100%;
        background-color: #198754;
        text-align: right;
        padding: 3rem 0;
    }
    
    nav ul li{
        list-style-type: none;
        display: inline-flex;
        font-family: 'Oxygen', sans-serif;
        font-size: 2rem;
        font-weight: bold;
    }
    
    .menu{
        text-decoration: black;
        padding-left: 0.5rem;
        padding-right: 0.5rem;}

 }